.diamond {
    width: 100px;
    height: 100px;
    
  }

.ruby {
    width: 100px;
    height: 100px;
    
  }
 
.emerald {
    width: 100px;
    height: 100px;
    
  }
 
.yellow {
    width: 100px;
    height: 100px;
    
  }


