body {
    background: url("../images/test5.jpeg");
    margin: auto;
    
}
.diamond {
    width: 100px;
    height: 100px;
    
  }

.ruby {
    width: 100px;
    height: 100px;

  }
 
.emerald {
    width: 100px;
    height: 100px;
    
  }
 
.yellow {
    width: 100px;
    height: 100px;
    
  }

#scoreboard {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: blueviolet;
    
    
    
}

#info {
    background-color: aqua;
    font-weight: bold;
    margin: auto;
}

#guessingNumber {
    margin-bottom: 10px;
    margin-left: 575px;
    background-color: palevioletred;
    
    }
#crystals {
      
    margin-left: 610px;
}

#totalScore {
    margin-top: 10px;
    background-color: chartreuse;
    margin: auto;
    
}

#header {
    background-color: yellow;
    color: purple;
    font-family: fantasy;
    margin: auto;
    text-align: center;
    
}

.row {
    margin: auto;
}



