.body {
    background-color: red;
}
.diamond {
    width: 100px;
    height: 100px;
    
  }

.ruby {
    width: 100px;
    height: 100px;

  }
 
.emerald {
    width: 100px;
    height: 100px;
    
  }
 
.yellow {
    width: 100px;
    height: 100px;
    
  }

#scoreboard {
    background-color: blueviolet;
    
}

#info {
    background-color: aqua;
}

#guessingNumber {
    background-color: palevioletred;
}
#crystals {
    margin-left: 40px;
}

#totalScore {
    margin-left: 60px;
    background-color: chartreuse;
}

#header {
    background-color: yellow;
}



